h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}
td {
	line-height: 1.5;
}

.pTable, .pPostTable {
	width: 100%;
}
.pTable {
	margin: 10px 0;
}
.pTable p, .pPostTable p {
	margin: 0;
	padding: 0;
}
.pTable tr {
	border-bottom: 1px solid #f0f0f0;
}
.pTable th {
	padding: 4px;
	background: #fafafa;
}
.pTable td {
	padding: 4px;
}
.pTable .pForumTitle {
}
.pTable .pForumThreads {
	width: 5em;
	text-align: right;
}

.pTable .pForumLastPost {
	width: 10em;
	text-align: right;
}

.pTable .pThreadTitle {

}
.pTable .pThreadPosts {
	width: 5em;
	text-align: right;
}
.pTable .pThreadLastPost {
	width: 10em;
	text-align: right;
	padding-left: 8px;
}

.pThread {
	margin: 10px 0;
}
.pPostRow {
	padding: 10px 0;
	border-bottom: 1px solid #f0f0f0;
}

.pPostRow .profileLabel {
	display: block;
	font-weight: bold;
}
